
body{
display: grid;
grid-template-areas: calc(
  'head head head'
 "menu main right"
  "footer");
 width: 100%;
}

.grid-container{
grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  background-color: green;
  margin-block: auto;
  padding: 1rem;
  border-radius: 2em;
}

  .h1 {
    font-style: italic;
    justify-content: center;
    display: grid;
  }

  
  