
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-wrap:wrap;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    margin: 1pc 4pc;
    flex-direction: row;
    width: 100%;
    border-image:round ;

}



input.searh-bar {
    margin: 0;
    border-radius: 20px;
    height: 30px;
    width: max-content;
    
.
.button {
    font-style: italic;
    color: white;
    background: black;
    max-width: none;
    border-radius: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    width: auto;
    border-radius: 30px;
}
.lower-box{
    grid-template-rows: 20% 20% 20%;
}